.cache/*
.cache/!.*

.local/bin/*
.local/bin/!.*
.local/state/

.local/share/JetBrains/
.local/share/asdf/
.local/share/atuin/
.local/share/fonts/
.local/share/mimeapps.list
.local/share/nvim/
.local/share/pnpm/
.local/share/yarn/
.local/share/zsh-autosuggestions/

.config/env/secrets.sh
.config/JetBrains/
.config/atuin/
.config/configstore/
.config/google-chrome/
.config/pulse/
.config/chromium/
.config/zellij
.config/zsh/.zcompdump
